# MongoDB Atlas Database Connection String
MONGO_URI=your_mongodb_connection_string_here
PORT=3000

# Stripe Secret Key (Private - Backend ONLY)
STRIPE_SECRET_KEY=your_stripe_secret_key_here

# Frontend Client URL (For Stripe return redirect)
CLIENT_URL=http://localhost:5173
